<%- include('header'); -%>


    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">
        <form action="/delete" method="POST">
       <% newListItem.forEach(element => { %>
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= element._id %>" onChange="this.form.submit()" >
                <p> <%= element.name %></p>
            </div>
      <%  }) %>
    </form>
       
                <form class="formElement" action="/" method="POST">
                    <input type="text" name="newItem" placeholder="new item">
                    <button type="submit" name="list" value="<%= listTitle %>">+</button>
                </form>
    </div>
    <%- include('footer'); -%>
